
/* CSS on tags */

h1{
    color: red;
    font-size: 200px;
}


/* CSS on Classes */

.bacon{
    background-color: green;
}

.broccoli{
    background-color: red;
}
.circular{
    border-radius: 100%;
}

/* CSS on Tags */

#heading{
    color: rgb(235, 107, 48);
}


/* Pseudo Selectors */

img:hover{
    background-color: yellow;
}